<footer class="footer bg-dark">
    <div class="container">
        <div class="d-flex justify-content-center">
                <a class="nav-link" [routerLink]="'.'">Home</a>
                <a class="nav-link" [routerLink]="'story'">Our Story</a>
                <a class="nav-link" [routerLink]="'.'">About</a>
        </div>
        <p class="text-center text-white">Copyright @2020 | Designed and Developed by <a href="https://github.com/npandu"
                target="_blank">Pandu</a></p>

        <div class="d-flex justify-content-center text-warning">
            <div class="p-2"><i class="fab fa-facebook-f"></i></div>
            <div class="p-2"><i class="fab fa-twitter"></i></div>
            <div class="p-2"><i class="fab fa-linkedin"></i></div>
            <div class="p-2"><i class="fab fa-instagram"></i></div>
        </div>
    </div>
</footer>