<footer class="footer bg-primary">
    <div class="container">
        <div class="d-flex justify-content-center">
                <a class="nav-link" [routerLink]="'.'">Home</a>
                <a class="nav-link" [routerLink]="'story'">Our Story</a>
        </div>
        <p class="text-center text-white">Copyright &copy; 2020</p>

        <div class="d-flex justify-content-center text-dark">
            <div class="p-2"><i class="fab fa-facebook-f"></i></div>
            <div class="p-2"><i class="fab fa-twitter"></i></div>
            <div class="p-2"><i class="fab fa-linkedin"></i></div>
            <div class="p-2"><i class="fab fa-instagram"></i></div>
        </div>
    </div>
</footer>