<!--div class="container">
    <h4>Our Journey has Started from 18<sup>th</sup> Century</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline5">
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">1750</span></div>
                    <div class="timeline-content">
                        <h3 class="title">Land was Discovered</h3>
                        <p class="description">
                            People from near villages have found land. Which was unsuitable for cultivation. 
                            The land was filled with lot stones and trees. A forest like environment was found.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">1770</span></div>
                    <div class="timeline-content">
                        <h3 class="title">Agricultural Revolution</h3>
                        <p class="description">
                            After discovery of land, It took several years to make cultivable land. Agricultural Revolution starts here, 
                            People started doing various types of Agriculture.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">1780</span></div>
                    <div class="timeline-content">
                        <h3 class="title">Small Town was Born</h3>
                        <p class="description">
                            Agricultural activities are become normal here, Few people named their occupied land. 
                            Finally, One of the name was popular. That's <strong>Kudapattu</strong>. The gteatest small town was born.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">1880</span></div>
                    <div class="timeline-content">
                        <h3 class="title">Light has Arraived</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi ultrices, luctus nunc ut, commodo enim. Vivamus sem erat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div-->
<div class="container">
    <h4>Our Journey has Started from 18<sup>th</sup> Century</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline2">
                <div class="timeline">
                    <span class="icon fa fa-globe"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Land was Discovered - 1750</h3>
                        <p class="description">
                            People from near villages have found land. Which was unsuitable for cultivation. 
                            The land was filled with lot of stones and trees. A forest like environment was Discovered.                    
                         </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-rocket"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Agricultural Revolution - 1770</h3>
                        <p class="description">
                            It took several years to make cultivable land. People started doing various types of agricultural activities and 
                            It had become normal.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-map-signs"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Small Town was Born - 1780</h3>
                        <p class="description">
                             Few people named their occupied land. Finally, One of the name was popular. 
                             That's <strong>Kudapattu</strong>. The greatest small town was born.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-home"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Life has Started - 1800</h3>
                        <p class="description">
                            Some people start to live from their land. Work Life balance has become easy after life moved on thier land.
                             Normal life has been started in small town.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-lightbulb"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Light has Arraived - 1880</h3>
                        <p class="description">
                            Electricity was come for agricultural land. After few years people started to get electricity for home.
                            Finally, Light has arraived on their life.                 
                         </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
